*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
}

#main{
    height: calc(100% - 70px);
    width: 100%;
    /* background-color: rgba(80, 79, 79, 0.116); */
    position: relative;
}
#wrapper{
    height: calc(100% - 70px);
    width: 100%;
    background-color: rgba(160, 143, 143, 0.116);
    position: relative;
}
#nav{
    padding: 30px;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    /* background-color: rgba(0, 255, 255, 0.145) */

}

.two a{
     font-weight: 600;
     margin-right: 80px;
     text-decoration: none;
     color: rgba(0, 0, 0, 0.575);
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav h1{
    margin-left: 10px;
    font-size: 17px;
}

.logo i{
    font-size: 40px;
}

.three i{
    color: rgba(0, 0, 0, 0.575);
    margin-right: 20px;
    font-size: 20px;
    font-weight: 800;

}

#center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center h1{
    margin-top: -2vw;
    font-size: 10vw;
    font-weight: 600;
}

#center #pic1{
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 250px;
    position: absolute;
}
#center #pic2{
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 260px;
    position: absolute;
}

#center #pic3{
    top: 46%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    width: 300px;
    position: absolute;
}

.circle1{
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(247, 65, 101, 0.301);
    z-index: -1;
}
.circle2{
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgba(250, 252, 128, 0.829);
    z-index: -1;
}
.circle3{
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(73, 220, 233, 0.301);
    z-index: -1;
}


#footer{
    padding: 30px;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    z-index: 99999;
}
#footer #f-part1{
    display: flex;
    align-items: center;
    
}
#footer #f-part2{
    display: flex;
    align-items: center;
}

#footer img {
    object-fit: cover;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
h5{
    font-size: 20px;
    font-weight: 800;
}

#f-part2 i  {
    /* padding: 10px;    */
    margin-left: 10px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.623);
}
